@import '~@angular/material/theming';
$light-theme-primary: mat-palette($mat-blue);
$light-theme-accent: mat-palette($mat-orange, A200, A100, A400);
$light-theme-warn: mat-palette($mat-red);
$light-theme: mat-light-theme($light-theme-primary, $light-theme-accent, $light-theme-warn);
